doctype html
html
  head
    meta(charset='utf-8')
    link(rel='icon', href='logo/2.png')
    title About Us
    link(rel='stylesheet', type='text/css', href='bego.css')
  
  body.about(onload='lastModifiedDate()')
  block content
  
    .background
      img(src='background/paper-3224643_1920.jpg', alt='Background 1')
    .logo
      img(src='logo/2.png', alt='logo')
    button#sidenavBtn
      img#sidenavImg(src='icon/baricon.png', alt='sidenav logo')
    #sidenav
      button#closesidenav ×
      #navoption
        a(href='home') Home
        a(href='matchmakingAlgo') Matchmaking Algorithm
        a(href='designchoice') Architecture, Design, and Testing
        a(href='teamMember') Team Member
        a(href='references') References
    .aboutUsText
      h1 about us
      p
        | Bego is web application dedicated to dreamers and innovative jobless people.
        | We believe that all ideas are possible. We let you express your ideas on your own way.
        | You might not have all skills required to build your dreams and thus a solid team is
        | definitely a must! Bego is a platform that will allow you to find the right people to
        | make your ideas real. Not only that, Bego will let you to define tasks and split them up
        | between your team members.
        | To jobless people with no idea, you should not worry about getting unemployed.
        | With easy sign up and a little bit of effort, you might find the right job that
        | matched your skills and interest. To these people, good ideas can't be true
        | without you.
      p#close Begin now and make your ideas real with Bego.
    .rectangle
    .aboutIcon
      img(src='icon/aboutus/1.png', alt='Gather your team')
      img(src='icon/aboutus/2.png', alt='Split the tasks')
      img(src='icon/aboutus/3.png', alt='Make it real.')
    .rectangle
    button#joinUs(onclick="location.href='home';") JOIN US NOW >>
    .background2
      img(src='background/workspace-2985783_1920.jpg', alt='Background 2')
    .footer
      p Copyright 2018 Bego. All Rights Reserved. Last updated: 31 May 2018
    script(src='sidenavModal.js')
    script(src='lastModified.js')
