extends layout
block content
  head
    title BEGO - Edit Profile
  header
    a(href='Homelogin')
      img#logo(src='logo/2.png', alt='Bego Logo')
    nav
      a.normalbtn(style='width:70px', onclick='openNav()') ☰ 
  // Edit section
  .edit
    h1 Edit Profile
    p
      | Ensure that you have the most up to date details so that you can enjoy
      | the most out of BEGO application.
    hr
    // Edit Name
    .edit-list
      a.edit-icon(onclick="document.getElementById('edit-name').style.display='block'")
        img(src='edit.jpg', alt='Edit icon')
      p
        b
          span(style='font-size:larger') Name
        br
        span(style='opacity:0.5')
          small #{profiledtl.name}
      p
        b
          span(style='font-size:larger') Skills
        br
        span(style='opacity:0.5')
          small #{profiledtl.skills}
      // Edit Name Form
      #edit-name.modal
        span.close(onclick="document.getElementById('edit-name').style.display='none'", title='Close Modal') ×
        form.modal-content.animate(action='/Editname', method='post')
          .container
            h1 Update Your Name and Skills
            hr
            label
              b Full Name
            input(type='text', name='fullname', value= profiledtl.name , pattern='^[a-zA-Z\\s]+', required='')
            label
              b Skills
            br
            input(type='text', name='newskills', value= profiledtl.skills, required='')
            br
            .clearfix
              button.cancelbtn(type='button', onclick="document.getElementById('edit-name').style.display='none'") Cancel
              button.signupbtn(type='submit') Update

  // Footer area
  footer
    p Copyright 2018 Bego. All Rights Reserved. Last updated: 31 May 2018
