doctype html
html
  head
    title BEGO - Edit Profile
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='logo/2.png')
    // Importing external layout from layout.css file
    link(rel='stylesheet', type='text/css', href='layout.css')
    // New project Form layout
    link(rel='stylesheet', type='text/css', href='form-layout.css')
    link(rel='stylesheet', type='text/css', href='bego.css')
    // Import Javascript codes
    script(src='script.js')
    script(src='lastModified.js')
    // CSS style for div edit and its' button i.e. edit icon
    style.
      .edit{
      background-color: rgba(36, 55, 67, 0.2);
      background-size:cover;
      border-radius: 10px;
      width: 80%;
      border: none;
      padding: 40px;
      margin:auto;
      margin-top:100px;
      margin-bottom:40px;
      }
      .edit-list{
      outline: none;
      margin:auto;
      background-color: rgba(255,255,255,0.5);
      border-radius: 10px;
      margin-bottom: 20px;
      padding:10px;
      padding-left: 40px;
      }
      .edit-icon{
      position:static;
      margin:20px;
      float:right;
      cursor:pointer;
      }
      .edit-icon:hover{
      opacity:0.5;
      }
  body(onload='lastModifiedDate()')
  block content
    // Side navigation
    #mySidenav.sidenav
      a.closebtn(href='#', onclick='closeNav()') ×
      a(href='Homelogin') Home
      a(href='Findproject') Find Projects
      a(href='Editprofile') Edit Profile
      a(href='Preference') Your Preference
      a(href='home', onclick='confirmlogout()') Logout
    // Header section
    header
      a(href='Homelogin')
        img#logo(src='logo/2.png', alt='Bego Logo')
      nav
        a.normalbtn(style='width:70px', onclick='openNav()') ☰ 
    // Edit section
    .edit
      h1 Edit Profile
      p
        | Ensure that you have the most up to date details so that you can enjoy
        | the most out of BEGO application.
      hr
      // Edit Name
      .edit-list
        a.edit-icon(onclick="document.getElementById('edit-name').style.display='block'")
          img(src='edit.jpg', alt='Edit icon')
        p
          b
            span(style='font-size:larger') Name
          br
          span(style='opacity:0.5')
            small Full Name
        // Edit Name Form
        #edit-name.modal
          span.close(onclick="document.getElementById('edit-name').style.display='none'", title='Close Modal') ×
          form.modal-content.animate(action='/Editname' method='post')
            .container
              h1 Update Your Name
              hr
              label
                b Full Name
              input(type='text', name='fullname' placeholder='Enter First Name', title='Enter your name (1 word and No whitespace)', pattern='^[a-zA-Z]{2,}$', required='')
              .clearfix
                button.cancelbtn(type='button', onclick="document.getElementById('edit-name').style.display='none'") Cancel
                button.signupbtn(type='submit') Update
      // Edit Skills
      .edit-list
        a.edit-icon(onclick="document.getElementById('edit-skill').style.display='block'")
          img(src='edit.jpg', alt='Edit icon')
        p
          b
            span(style='font-size:larger') Skills
          br
          span(style='opacity:0.5')
            small Management and Engineering
        // Edit skill Form
        #edit-skill.modal
          span.close(onclick="document.getElementById('edit-skill').style.display='none'", title='Close Modal') ×
          form.modal-content.animate(action='Editprofile')
            .container
              h1 Update Your Skills
              hr
              label
                b Skills
              br
              textarea(style='outline:none', rows='5', cols='90', placeholder='Describe your Skills', required='')
              br
              .clearfix
                button.cancelbtn(type='button', onclick="document.getElementById('edit-skill').style.display='none'") Cancel
                button.signupbtn(type='submit') Update
      // Edit E-mail
      .edit-list
        a.edit-icon(onclick="document.getElementById('edit-email').style.display='block'")
          img(src='edit.jpg', alt='Edit icon')
        p
          b
            span(style='font-size:larger') E-mail
          br
          span(style='opacity:0.5')
            small sample.email@goo.com
        // Edit E-mail Form
        #edit-email.modal
          span.close(onclick="document.getElementById('edit-email').style.display='none'", title='Close Modal') ×
          form.modal-content.animate(action='Editprofile')
            .container
              h1 Update E-mail Address
              hr
              label
                b New E-mail
              input(type='email', placeholder='Enter New E-mail Address', title='sample.email@uwa.com', pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$', required='')
              .clearfix
                button.cancelbtn(type='button', onclick="document.getElementById('edit-email').style.display='none'") Cancel
                button.signupbtn(type='submit') Update
      // Edit Password
      .edit-list
        a.edit-icon(onclick="document.getElementById('edit-pass').style.display='block'")
          img(src='edit.jpg', alt='Edit icon')
        p
          b
            span(style='font-size:larger') Password
          br
          span(style='opacity:0.5')
            small Samplepassword
        // Edit Password Form
        #edit-pass.modal
          span.close(onclick="document.getElementById('edit-pass').style.display='none'", title='Close Modal') ×
          form.modal-content.animate(name='editpass', action='Editprofile', onsubmit='return checkpassword(document.editpass.password1.value, document.editpass.password2.value)')
            .container
              h1 Update Password
              p You will receive e-mail to confirm your password change.
              hr
              label
                b E-mail
              input(type='email', placeholder='Enter E-mail', title='sample.email@uwa.com', pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$', required='')
              label
                b Old Password
              input(type='password', placeholder='Enter Old Password', required='')
              label
                b New Password
                br
              input(type='password', name='password1', title='Contain 8 or more characters with at least 1 number, \
              one uppercase and 1 lowercase', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', placeholder='Enter New Password', required='')
              label
                b Repeat New Password
              input(type='password', name='password2', placeholder='Repeat New Password', required='')
              .clearfix
                button.cancelbtn(type='button', onclick="document.getElementById('edit-pass').style.display='none'") Cancel
                button.signupbtn(type='submit') Update
    // Footer area
    footer
      p Copyright 2018 Bego. All Rights Reserved.
      p#lastMod
