doctype html
html
  head
    meta(charset='utf-8')
    title References
    link(rel='stylesheet', type='text/css', href='bego.css')
  body.references
  block content
    .background
      img(src='background/clean-2721103_1920.jpg', alt='background')
    .logo
      img(src='logo/2.png', alt='logo')
    button#sidenavBtn
      img#sidenavImg(src='icon/baricon.png', alt='sidenav icon')
    #sidenav
      button#closesidenav ×
      #navoption
        a(href='home') Home
        a(href='aboutus') About Us
        a(href='designchoice') Architecture, Design, and Testing
        a(href='matchmakingAlgo') Matchmaking Algorithm
        a(href='teamMember') Team Member
    h2 References
    table.referenceList
      tr
        th Page
        th Element Type
        th Resource
      tr
        td Home
        td Background Image
        td www.pixabay.com (rawpixel)
      tr
        td About Us
        td Background Image - Top
        td www.pixabay.com (rawpixel)
      tr
        td About Us
        td Background Image - Bottom
        td www.pixabay.com (rawpixel)
      tr
        td All main pages
        td Side Navigation Button
        td www.thenounproject.com (Mert Güler)
      tr
        td About Us
        td Icon - Gather your team
        td www.thenounproject.com (artworkbean)
      tr
        td About Us
        td Icon - Split the task
        td www.thenounproject.com (Icon Fair)
      tr
        td About Us
        td Icon - Make it real
        td www.thenounproject.com (Ethan Russon)
      tr
        td Team Member
        td Background Image
        td www.pixabay.com (Martin Blain)
      tr
        td References
        td Background Image
        td www.pixabay.com (DanCristian)
      tr
        td Tab Links (all pages after sign in)
        td Home Icon
        td Axure Library
      tr
        td Tab Links (all pages after sign in)
        td Add Project Icon
        td Axure Library
      tr
        td Tab Links (all pages after sign in)
        td Edit Details Icon
        td Axure Library
      tr
        td Tab Links (all pages after sign in)
        td Sign Out Icon
        td Axure Library
      tr
        td Matchmaking Algorithm
        td Matchmaking Illustration Diagram
        td
          i Created with
          |  Creatly
    script(src='sidenavModal.js')
